# BT USB device nodes
/dev/btusb0               0660   bluetooth  bluetooth

# BT UART device nodes
/dev/ttyS1                0660   bluetooth  bluetooth

/dev/sw_sync              0660   system     system

/dev/nxmw                 0666   root       root
/dev/nxwk                 0666   root       root

/dev/nxmem                0666   root       root
/dev/dri/card*            0666   root       root
/dev/bcmpip               0666   root       root
/dev/uinput               0666   root       root

/dev/block/mmcblk0boot1   0660   root       root

/dev/video0               0660   system     camera

